<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<head>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <title>书籍详情</title>
</head>
<style>
    .bt{
        color: white;
        background-color: #ff3c3c;
        margin-top: 30px;
        width: 90px;
        height: 40px;
    }
</style>
<body>
<div class="container">
    <div class="col-md-4">
        <div style="border: 1px solid gainsboro; margin-top: 30px">
            <img th:src="@{${book.avatar }}" style="width: 300px;height: 350px" >
        </div>
    </div>
    <div class="col-md-5" style="margin-top: 30px">
        <p th:text="${book.name}" style="font-weight: bolder; font-size: 22px"></p>
        <p th:text="${book.author}" style="font-size: 18px "></p>
        <p>书籍介绍：</p>
        <p th:text="${book.introduction}" style="margin-top: -29px;margin-left: 65px;color: grey"></p>
        <button type="button" class="bt" ><a href="javascript:history.go(-1)" class="header-back jsBack">返回书单</a></button>
    </div>
</div>
</body>
</html>
